.logo p{
    margin:0;
    padding:0;
    display: inline-block;
    vertical-align: middle;
    align: center;
}

.logo button{
    margin:0px 15px 0px 15px;
    padding:10px;
    width: 70px;
    height: 50px;
    display: inline-block;
    float: right;
}

.LoginArea{
    height: 100vh;
    width: 100vh;
    //background: red;
    margin:10px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}